/* main background color = #FFFFFF  */

/* Hero background color = #2F303A */
/* Hero text color = #FFFFFF */

/* Team section bg color =  */

/* header color =  #FFFFFF*/
/* footer color = #2F303A */

/* <h1,h2.h3> and button text color - main text color = #212121 */
/* <p> text color and mailto: with tel: = #757575 */

/* button text accent = #FFFFFF  */
/* button bg color = #F5F4FA */
/* button here bg color:hover = #188CE8 */

/* main accent color = #2196F3 */
/* logo Studio accent = #000000 */

/* Icon main color = #AFB1B8 */
/* Icon main bg colof = main background color = #FFFFFF */
/* Icon benefits bg color =  #F5F4FA*/
/* Icon hover color = main accent color = #2196F3 */
/* Icon mailto and tel color =p>text color and mailto: with tel: = #757575 */
/* Icon footer color =  = #FFFFFF */
/* Icon footer bg color = rgba(255, 255, 255, 0.1); */

:root {
    --main-bg-color: #FFFFFF;
    --footer-bg-color: #2F303A;
    --hero-bg-color: #2F303A;
    --hero-text-color: #FFFFFF;
    --main-accent-color: #2196F3;
    --logo-studio-color: #000000;
    --main-text-color: #212121;
    --p-text-color: #757575;
    --button-text: #212121;
    --button-bg-color: #F5F4FA;
    --button-hero-bg-color_hover: #188CE8;
    --button-accent-text-color: #FFFFFF;
    --team-section-bg-color: #F5F4FA;
    --portfolio-cards-border-color: #EEEEEE;
    --icon-main-color: #AFB1B8;
    --icon-benefits-bg-color: #F5F4FA;
    --icon-footer-bg-color: rgba(255, 255, 255, 0.1);

}

*,
::before,
::after {
    box-sizing: border-box;
}

/* Universal style reset */

.list {
    list-style: none;
}

.link {
    text-decoration: none;
}

h1,
h2,
h3,
h4,
p {
    margin-top: 0;
    margin-bottom: 0;
}

ol,
ul {
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;
}

img {
    display: block;
}


/* Common components */

.site-body {
    color: var(--main-text-color);
    font-family: Roboto, sans-serif;
    letter-spacing: 0.03em;

    background-color: var(--main-bg-color);
}

.container {
    width: 1200px;
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    overflow: hidden;
    border: 0;
    clip: rect(0 0 0 0);
}

/* header */
/* logo */

.header {
    padding-top: 24px;
    padding-bottom: 24px;

    background-color: var(--main-bg-color);
    border-bottom: 1px solid #ECECEC;
}

.header-container {
    display: flex;
    align-items: center;
}

.logo-header {
    margin-right: 94px;

    font-family: Raleway, sans-serif;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    /* text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25); */
    text-decoration: none;
}

.logo-header .left {
    color: var(--main-accent-color);
}

.logo-header .right {
    color: var(--logo-studio-color);
}

/* mailto */
.mailto {
    display: flex;
    align-items: center;

    color: var(--p-text-color);
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
}

.mailto-items:not(:last-child) {
    margin-right: 50px;
}

.mailto-link {
    display: inline-flex;
    align-items: center;
}

.mailto .link {
    color: var(--p-text-color);
    text-decoration: none;
}

.mailto .link:focus,
.mailto .link:hover {
    color: var(--main-accent-color);
}

.mailto-icon {
    margin-right: 10px;
    fill: #757575;
}

.mailto-link:hover .mailto-icon {
    fill: currentColor;
}

.site-nav {
    display: flex;
    align-items: center;
    margin-right: auto;

    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
}

.site-nav .link {
    color: var(--main-text-color);
    text-decoration: none;
}

.site-nav .link.current {
    color: var(--main-accent-color);
}

.site-nav .link:hover,
.site-nav .link:focus {
    color: var(--main-accent-color);
}

.site-nav-items:not(:last-child) {
    margin-right: 50px;

}

/* main page */

.main {
    background-color: var(--main-bg-color);
}

/* main - Hero */
.hero {
    background-color: var(--hero-bg-color);
}

.hero-container {
    margin-left: auto;
    margin-right: auto;
    max-width: 1600px;
    height: 600px;
    padding-top: 200px;
    padding-bottom: 200px;

    background-size: cover;
    background-image: linear-gradient(rgba(47, 48, 58, 0.4),
            rgba(47, 48, 58, 0.4)),
        url(../images/hero.jpg);
}

.hero .title {
    display: block;

    margin-bottom: 30px;

    color: var(--hero-text-color);
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 0.06em;
}

.hero .button {
    display: block;

    min-width: 200px;
    padding: 10px 10px;
    margin-right: auto;
    margin-left: auto;

    font-weight: 700;
    font-size: 16px;
    line-height: 1.88;
    text-align: center;
    letter-spacing: 0.06em;
    font-family: inherit;

    background-color: var(--main-accent-color);
    color: var(--button-accent-text-color);
    border: none;
    border-radius: 4px;
    border-color: transparent;
}

.hero .button:focus,
.hero .button:hover {
    background-color: var(--button-hero-bg-color_hover);
}


/* main sections - common class for sections */

.section {
    padding-top: 94px;
    /* padding-bottom: 94px; */
}

.section-title {
    margin-bottom: 50px;

    font-weight: 700;
    font-size: 36px;
    line-height: 1.17;
    text-align: center;
}

.section-text {
    color: var(--p-text-color);
}

.benefits {
    display: flex;
    flex-wrap: wrap;
    margin-left: -30px;
    margin-bottom: -30px;
}

/* .benefits-title-hidden {
    display: none;
    margin-bottom: 50px;
    text-align: center;
} */

.benefits-list-item {
    margin-left: 30px;
    margin-bottom: 30px;
    flex-basis: calc((100% - 120px)/4);
}

.benefits-list-icons {
    display: flex;
    margin-bottom: 30px;
    justify-content: center;
    align-items: center;

    width: 270px;
    height: 120px;

    border-radius: 4px;
    background-color: var(--icon-benefits-bg-color);
}

.benefits-title {
    margin-bottom: 10px;

    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    text-transform: uppercase;
}

.benefits .section-text {
    font-size: 14px;
    line-height: 1.71;
}

.works {
    padding-bottom: 94px;
}

.works-list {
    display: flex;
    justify-content: space-between;
}

.team {
    padding-bottom: 94px;
    background-color: var(--team-section-bg-color);
}

.team-list {
    display: flex;
    flex-wrap: wrap;
    margin-right: -30px;
    margin-bottom: -30 px;
}

.team-list .section-text {
    /* color: var(--p-text-color); */
    /* font-weight: 400; */
    font-size: 16px;
    line-height: 1.19;
    text-align: center;
}

.team-list .title {
    margin-bottom: 10px;

    text-align: center;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.19;
}

.team-list-card {
    flex-basis: calc((100% - 120px)/4);
    margin-right: 30px;
    margin-bottom: 30px;
}

.team-list-content-wrapper {
    padding-top: 30px;
    padding-bottom: 30px;
    padding-left: 32px;
    padding-right: 32px;

    background: var(--main-bg-color);
    /* box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2); */
    border: 1px solid var(--main-bg-color);
    border-top: none;
    border-radius: 0px 0px 4px 4px;
}

.team-social-list {
    display: flex;
    justify-content: space-between;
    margin-top: 16px;
}

.team-social-link {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 44px;
    height: 44px;
    border-radius: 50%;
}

.team-social-link:hover,
.team-social-link:focus {
    background-color: var(--main-accent-color);
}

.team-social-link-icon {
    fill: var(--icon-main-color);
}

.team-social-link:hover .team-social-link-icon,
.team-social-link:focus .team-social-link-icon {
    fill: var(--main-bg-color);
}

/* Section customers */

.customers {
    padding-bottom: 94px;
}

.customers-title {
    margin-bottom: 50px;

    font-weight: 700;
    font-size: 36px;
    line-height: 1.17;
    text-align: center;
}

.customers-list {
    display: flex;
    flex-wrap: wrap;

    margin-right: -30px;
    margin-bottom: -30px;

}

.customers-list-item {
    flex-basis: calc((100% - 180px)/6);
    margin-right: 30px;
    margin-bottom: 30px;
}

.customers-list-item-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;

}

.customers-list-link {
    display: flex;
    justify-content: center;
    align-items: center;

    cursor: pointer;

    width: 170px;
    height: 92px;

    border: 1px solid var(--icon-main-color);
    border-radius: 4px;
}

.customer-icon {
    fill: var(--icon-main-color);
}

.customers-list-link:hover,
.customers-list-link:focus {
    border: 1px solid var(--main-accent-color);
}

.customers-list-link:hover .customer-icon,
.customers-list-link:focus .customer-icon {
    fill: var(--main-accent-color);
}

/* Portfolio.css */

.portfolio-section {
    padding-bottom: 94px;
}

.button {
    color: var(--button-text);
    background-color: var(--button-bg-color);
    font-family: inherit;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.62;
    text-align: center;
    cursor: pointer;
    border-color: transparent;
}

.button:focus,
.button:hover {
    background-color: var(--main-accent-color);
    color: var(--button-accent-text-color);
}

.projects-nav-item>.button {
    padding: 6px 22px;
    border-radius: 4px;
}

.projects-nav {
    display: flex;
    justify-content: center;

    margin-bottom: 50px;
}

.projects-list {
    display: flex;
    flex-wrap: wrap;

    margin-left: -30px;
    margin-top: -30px;
}

.projects-nav-item:not(:last-child) {
    margin-right: 8px;
}

.projects-list-item {
    margin-left: 30px;
    margin-top: 30px;
    flex-basis: calc((100% - 90px)/3);
}

.projects-list-content-wrapper {
    padding: 20px 24px;

    border: 1px solid var(--portfolio-cards-border-color);
    border-top: none;
}

.projects-list .title {
    margin-bottom: 4px;

    color: var(--main-text-color);
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
    text-decoration: none;
}

.projects-list .section-text {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.9;
}






/* footer */

.footer {
    /* display: flex; */
    padding-top: 60px;
    padding-bottom: 60px;

    background-color: var(--footer-bg-color);
}

.address-wrapper {
    display: flex;
    flex-direction: column;
    width: 230px;
    margin-bottom: 30px;
}

.logo-footer {
    display: block;
    margin-bottom: 20px;

    font-family: Raleway, sans-serif;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    text-decoration: none;
}

.logo-footer .left {
    color: var(--main-accent-color);
}

.logo-footer .right {
    color: var(--button-accent-text-color);
}

.footer .link {
    color: rgb(255, 255, 255, 0.6);
    font-style: normal;
}

.footer .address {
    margin-bottom: 9px;

    color: var(--button-accent-text-color);
    /* font-weight: 400; */
    font-size: 14px;
    line-height: 1.71;
    text-decoration: none;
    font-style: normal;
}

.mailto-footer-list {
    font-weight: 400;
    line-height: 1.71;
}

.mailto-footer-list-items:not(:last-child) {
    margin-bottom: 9px;
}

.footer-social-wrapper {
    display: flex;
    width: 80px;
}

.footer-social-title {
    display: block;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    text-transform: uppercase;

    color: var(--button-accent-text-color);
}

.footer-social-link-icon {
    fill: wheat;
}